html {
  font-size: 16px;
  overflow-x: hidden;
}
body {
  font-family: $main-font-family;
  direction: rtl;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.container {
  width: 100%;
  padding: 0 15px;
}
.container-2 {
  width: 66.66%;
  margin: 0 auto;
}
a {
  transition: all 0.2s ease-in;
}
