#slider {
    text-align:center;
    position:relative;
    margin-bottom: 50px;
    ul{
        display:flex;
        justify-content: space-around;
    }
        .next, .prev {
            position:absolute;
            top:50%;
            transform: translateY(-50%);
            box-shadow:1px 1px 1px #000000;
            padding:5px;
        }
        .next {
            right:10px;
            a{
                i{

                }
            }
        }
        .prev {
            left:10px;
            a{
                i{

                }
            }
        }
        &:after {
            content:"";
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:300px;
            background:$slider-bg;
            z-index:-2;
        }
}
#rooms {
    display: flex;
    & .room-right, .room-center, .room-left{
        position: relative;
        flex: 33.33%;
        img {
            display: block;
            width: 100%;
            filter:brightness(50%);
        }
        .room-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white-color;
            text-align: center;
            div {
                border: 3px solid $white-color;
            }
            p {

            }
        }
    }
}
#featured-product {
    padding-top: 150px;
    .featured-product__first-title {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 11px;
    }
    .featured-product__second-title {
        text-align: center;
        margin-bottom: 50px;
    }
    .featured-product__main-image {
        display: flex;
        .product-item {
            width: 50%;
            .product-item__content {
                display: flex;
                margin-bottom: 20px;
                img {
                    display: block;
                    width: 50%;
                    height: auto;
                }
                .item {
                    width: 50%;
                    margin-right: 12px;
                }
            }
        }
    }
}
#new-arrivals {
    .first-row {
        .line-icon {
        display: block;
        width: 70px;
        height: auto;
        margin: 0 auto;
        margin-top: 40px;
        }
        .new-arrivals__first-title {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 11px;
        }
        .new-arrivals__second-title {
        text-align: center;
        margin-bottom: 50px;
        }
    }
    .second-row {
        display: flex;
        flex-wrap: wrap;
        img {
            display: block;
            width: 25%;
            height: auto;
        }
    }
}