#slider {
  text-align: center;
  position: relative;
  padding-bottom: 100px;
  ul {
    display: flex;
    justify-content: space-around;
  }
  .next,
  .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 1px 1px 1px #000000;
    padding: 5px;
  }
  .next {
    right: 10px;
    // a {
    //   i {
    //   }
    // }
  }
  .prev {
    left: 10px;
    // a {
    //   i {
    //   }
    // }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: $slider-bg;
    z-index: -2;
  }
}
#banner {
  display: flex;
  margin-bottom: 50px;

  & .banner-right,
  .banner-center,
  .banner-left {
    flex: 33.33%;
    position: relative;
    img {
      display: block;
      width: 100%;
      filter: brightness(50%);
    }
    & .banner-right__content,
    .banner-center__content,
    .banner-left__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white-color;
      text-align: center;
      p {
        margin: 0;
        padding: 0 0 20px 0;
        font-weight: bolder;
        font-size: 2rem;
      }
      div {
        border: 4px solid $white-color;
        padding: 10px 20px;
        font-size: 1.5rem;
      }
    }
  }
}
#main {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  .main-product {
    text-align: center;
    margin-bottom: 50px;
    .main-product__header {
      width: 70px;
      height: auto;
      margin: 0 auto;
    }
    .main-product__title {
      font-size: 2rem;
      font-weight: bold;
      margin-top: 10px;
    }
    .main-product__subtitle {
      margin-top: 10px;
    }
  }
  .main-items {
    display: flex;
    .main-items__content {
      .main-items__content-img {
        display: flex;
        margin-bottom: 20px;
        img {
          display: block;
          width: 60%;
          height: auto;
        }
        .main-items__content-img-text {
          width: 40%;
          vertical-align: top;
          margin: 0 10px;
          // .main-items__content-img__title {
          // }
          // .main-items__content-img__price {
          // }
          // .main-items__content-img__star {
          // }
        }
      }
    }
  }
}
#seccondmain {
  display: flex;
  flex-direction: column;
  .seccondmain-title {
    text-align: center;
    margin-bottom: 50px;
    .seccondmain-title__header {
      width: 70px;
      height: auto;
      margin: 0 auto;
    }
    .seccondmain-title__title {
      font-size: 2rem;
      font-weight: bold;
      margin-top: 10px;
    }
    // .seccondmain-title__subtitle {
    // }
  }
  .seccondmain-img {
    display: flex;
    flex-wrap: wrap;

    .seccondmain-img__img {
      display: inline-block;
      width: 25%;
      height: auto;
    }
  }
}
#information {
  margin-top: 50px;
  .information-title {
    text-align: center;
    margin-bottom: 20px;
    svg {
      width: 70px;
      height: auto;
      margin: 0 auto;
    }
    .information-title__title {
      font-size: 2rem;
      font-weight: bold;
      margin-top: 10px;
    }
    // .information-title__subtitle {
    // }
  }
  .information-main {
    display: flex;
    justify-content: space-between;
    .information-main__right {
      width: 66%;
      display: flex;
      flex-wrap: wrap;
      .information-main__right-top {
        background-image: url(/assests/Images/bg-02.jpg);
        background-position: 72px -432px;
        background-size: cover;
        width: 100%;
        height: 314px;
        margin-bottom: 3%;
        color: $white-color;
        font-weight: bold;
        p {
          margin-right: 40px;
        }
      }
      .information-main__right-bottom {
        display: flex;
        justify-content: space-between;
        img {
          display: block;
          width: 48.48%;
          height: auto;
        }
      }
    }
    .information-main__left {
      width: 32%;
      display: flex;
      flex-direction: column;
      justify-self: space-between;
      .information-main__left-top {
        text-align: center;
        border: 2px solid $border-color-lightgray;
        margin-bottom: 6.5%;
        height: 314px;
        padding: 55px 33px;
        .information-main__left-header {
          color: $black-color;
          font-size: 1.3rem;
          font-weight: bold;
        }
        .information-main__left-main {
          color: $input-color-gray;
          margin-bottom: 40px;
        }
        .information-main__left-emailbox {
          color: $input-color-gray;
          border: 2px solid $border-color-lightgray;
          text-align: center;
          form {
            width: 90%;
            input {
              display: inline-block;
              border: none;
              padding: 10px;
            }
            button {
              display: inline-block;
            }
          }
        }
      }
      .information-main__left-bottom {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .information-logo {
    display: flex;
    padding: 90px 0;
    a {
      width: 16.6%;
      .information-logo__img {
        display: block;
        height: auto;
        opacity: 50%;
        width: 100%;
      }
    }
  }
}
#post {
  background-color: $border-color;
  width: 100%;
  padding: 85px 0;
  form {
    display: flex;
    justify-content: space-between;
    .post-content {
      border: none;
      background-color: $white-color;
      color: $black-color;
      font-size: 1.8rem;
      padding: 25px 10px;
      width: 40%;
      font-weight: 700;
      box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.39);
    }
  }
}
